In [1]:
from selenium import webdriver
import requests, json

In [2]:
# site url : http://stats.nba.com/teams/traditional/?sort=GP&dir=-1

In [3]:
url = "http://stats.nba.com/stats/leaguedashteamstats?Conference=&DateFrom=&DateTo=&Division=&GameScope=&GameSegment=&LastNGames=0&LeagueID=00&Location=&MeasureType=Base&Month=0&OpponentTeamID=0&Outcome=&PORound=0&PaceAdjust=N&PerMode=PerGame&Period=0&PlayerExperience=&PlayerPosition=&PlusMinus=N&Rank=N&Season=2017-18&SeasonSegment=&SeasonType=Regular+Season&ShotClockRange=&StarterBench=&TeamID=0&VsConference=&VsDivision="
driver = webdriver.Chrome()
driver.get(url)

response = driver.find_element_by_css_selector("pre").text
json_data = json.loads(response)

driver.close()

In [4]:
columns = json_data['resultSets'][0]['headers']
len(columns)

56

In [5]:
datas = json_data['resultSets'][0]['rowSet']
len(datas)

30

In [6]:
df = pd.DataFrame(datas, columns=columns)
df.sort_values("PTS", ascending=False).reset_index(drop=True)
df.tail()

,TEAM_ID,TEAM_NAME,GP,W,L,W_PCT,MIN,FGM,FGA,FG_PCT,...,TOV_RANK,STL_RANK,BLK_RANK,BLKA_RANK,PF_RANK,PFD_RANK,PTS_RANK,PLUS_MINUS_RANK,CFID,CFPARAMS
25,1610612758,Sacramento Kings,82,27,55,0.329,48.2,38.8,86.1,0.450,...,9,11,25,14,19,30,30,28,10,Sacramento Kings
26,1610612759,San Antonio Spurs,82,47,35,0.573,48.1,39.0,85.4,0.457,...,4,14,4,2,1,18,27,8,10,San Antonio Spurs
27,1610612761,Toronto Raptors,82,59,23,0.720,48.4,41.3,87.4,0.472,...,6,18,2,18,27,16,4,2,10,Toronto Raptors
28,1610612762,Utah Jazz,82,48,34,0.585,48.2,38.3,82.9,0.462,...,20,4,9,11,16,8,19,5,10,Utah Jazz
29,1610612764,Washington Wizards,82,43,39,0.524,48.4,39.9,85.6,0.467,...,18,10,22,13,25,15,13,15,10,Washington Wizards

In [7]:
columns_filter = ["TEAM_NAME", "GP", "W", "L", "W_PCT", "MIN", "FGM"]
columns_rename = {"TEAM_NAME":"TEAM", "W_PCT":"WIN%"}

In [8]:
df_filter = df.filter(items=columns_filter)
df_filter.tail()

             TEAM_NAME  GP   W   L  W_PCT   MIN   FGM
25    Sacramento Kings  82  27  55  0.329  48.2  38.8
26   San Antonio Spurs  82  47  35  0.573  48.1  39.0
27     Toronto Raptors  82  59  23  0.720  48.4  41.3
28           Utah Jazz  82  48  34  0.585  48.2  38.3
29  Washington Wizards  82  43  39  0.524  48.4  39.9

In [9]:
df_rename = df_filter.rename(columns=columns_rename)
df_rename.tail()

                  TEAM  GP   W   L   WIN%   MIN   FGM
25    Sacramento Kings  82  27  55  0.329  48.2  38.8
26   San Antonio Spurs  82  47  35  0.573  48.1  39.0
27     Toronto Raptors  82  59  23  0.720  48.4  41.3
28           Utah Jazz  82  48  34  0.585  48.2  38.3
29  Washington Wizards  82  43  39  0.524  48.4  39.9